html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Exo, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  color: #232323;
}

body {
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72"><text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" fill-opacity="0.2">+</text></svg>');
  background-repeat: repeat;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1a73e8;
}

ul li {
  line-height: 1.6;
}

footer {
  padding: 48px 16px 0 24px;
  font-size: 12px;
  color: #666666;
}

* {
  box-sizing: border-box;
}
