.container {
  min-height: 100vh;
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 5rem 24px 5rem 16px;
  width: 100%;
}

.title {
  margin: 0;
  line-height: 1em;
  font-size: 88px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: #444444;
}

.title_packing {
  letter-spacing: -4px;
}

.description {
  margin: 0;
  margin-left: 10px;
  line-height: 1.1;
  font-size: 1rem;
}

.section_title {
}

.section_body {
  padding: 16px 24px 24px 24px;
}
.section_body p {
  margin-bottom: 8px;
}

.tape {
  position: relative;
  display: inline-flex;
  padding: 4px 40px 4px 24px;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 2px;
}
.tape_green {
  composes: tape;
  background-color: #08706b;
}
.tape_blue {
  composes: tape;
  background-color: #126a92;
}
.tape:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 0 24px 40px 0;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.activities_link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.activities_link p {
  margin-right: 20px;
}
.activities_link p:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .title {
    font-size: 60px;
  }

  .title_packing {
    letter-spacing: -2px;
  }

  .description {
    margin-left: 6px;
  }
}
